<form action="/pubs/<%= pub._id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div>
        <label class="title">Pub Name</label>
        <input type="text" name="title" id="title" value="<%= pub.title %>">
    </div>
    <div>
        <label class="location">Pub Location</label>
        <input type="text" name="text" id="location"  value="<%= pub.location %>">
    </div>
    <div>
        <label class="description">Pub Description</label>
        <input type="text" name="description" id="description"  value="<%= pub.description %>">
    </div>
    <div>
        <label class="picture">Pub Picture</label>
        <input type="text" name="picture" id="picture"  value="<%= pub.image %>">
    </div>
    <div>
      <button name="button">Submit</button>
    </div>
</form>
