<h2>All Pubs</h2>
<ul class="columns">
  <% pubs.forEach( pub =>{ %>
    <ul class=" column is-one-half">
      <li >
        <a href="/pubs/<%= pub.id %>"><%= pub.title %></a>
        <img style="height: 200px;" src='<%= pub.url %>' alt='<%= pub.title %>' />
      </li>
      <li>
      <% if(pub.creator){%>
        Added by <%= pub.creator.username %>
        <% } %>
      </li>
    </ul>
  <% }) %>
