<h2 id="pub-title"> <%= pub.title %></h2>
<div class="columns">
  <div class="column is-half">
    <img src='<%= pub.image %>' alt='<%= pub.title %>' />
  </div>
  <div class="column is-half">
    <a href="/pubs/<%= pub.id %>/edit">Edit</a>
    <ul>
    <h5>Location</h5>
    <li><%= pub.location %></li>
    <h5>Description</h5>
    <li><%= pub.description %></li>
    <li><%= pub.comments %></li>
    </ul>

    <h5>Reviews</h5>
      <form class="" action="/pubs/<%= pub.id %>/comment" method="POST">
      <textarea name="content" rows="8" cols="80"></textarea>
      <button name="button">Post a review</button>
    </form>

    </div>
  </div>
